// variables - color
$bgHex : #ff7200, #eeff00, #48ff00, #00ff72,#00ffff;
$color: ( 
    orange: #ff6600, 
    yellow: #eeff00, 
    green: #48ff00, 
    cyan: #00ffff,
    red: #ff0000,
    blue: #0000ff,
    black: #000000
);