// variables - color
$bgHex : #ff7200, #eeff00, #48ff00, #00ff72,#00ffff;
$bgUrl: "http://cdn.backgroundhost.com/backgrounds/subtlepatterns/woven.png",
"http://cdn.backgroundhost.com/backgrounds/subtlepatterns/tileable_wood_texture.png",
"http://cdn.backgroundhost.com/backgrounds/subtlepatterns/green_dust_scratch.png",
"http://cdn.backgroundhost.com/backgrounds/subtlepatterns/dark_leather.png",
"http://cdn.backgroundhost.com/backgrounds/subtlepatterns/black_thread.png";
$color: ( orange: #ff6600, 
yellow: #eeff00, 
green: #48ff00, 
cyan: #00ffff,
red: #ff0000,
blue: #0000ff,
black: #000000);