// non-tag elements only!

// general console buttons
.btn {
    
    background-color: map-get($color, orange);
    font-weight: 700;
    
    &:hover {
        background-color: map-get($color, black);
        color: map-get($color, yellow);
    }
}


// console display
.display {
    // width, height, bgColor, fontColor, fontWeight, fontSize, borderRadius
    @include scoreDisplay(360, 180, black, yellow, 700, 110, 20px) {
        font-family: 'Press Start 2P', cursive;
        line-height: pix2Rem(200);
    }
}
