// non-tag elements only!

// general console buttons
.btn {
    @include btn {
        background-color: map-get($color, orange);
    }
}


// console display
.display {
    // width, height, bgColor, fontColor, fontWeight, fontSize, borderRadius
    @include scoreDisplay(350, 180, black, yellow, 700, 110, 5%) {
        font-family: 'Press Start 2P', cursive;
        line-height: pix2Rem(200);
    }
}
