/* all fonts 
font-family: 'Zilla Slab Highlight', cursive;
font-family: 'Ubuntu Mono', monospace; */
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Zilla+Slab+Highlight:400,700");
.btn {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #ff6600; }

.display {
  width: 15.625rem;
  height: 12.5rem;
  background-color: #000000;
  color: #eeff00;
  font-weight: 700;
  font-size: 11.875rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10%; }

:root {
  font-size: 16; }

.wrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media screen and (max-width: 3000px) and (min-width: 576px) {
    .wrapper {
      max-width: 70%; } }

body {
  background: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/green_dust_scratch.png"); }

header {
  background-color: #00ffff; }
  header h1 {
    text-align: center; }

.simon {
  width: 970px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around; }
  .simon .wings-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 40.3125rem;
    align-self: center; }
    .simon .wings-wrapper .wing {
      width: 18.75rem;
      height: 18.75rem;
      z-index: 0;
      display: flex;
      justify-content: center;
      align-items: center; }
  .simon .console {
    align-self: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center; }
    .simon .console .display {
      margin-bottom: 0.625rem; }
    .simon .console h2 {
      margin-bottom: 0px; }
    .simon .console .console-primary {
      margin-bottom: 0.25rem; }
    .simon .console .console-secondar {
      margin-bottom: 0.25rem; }

.green {
  border: solid black;
  background-color: #48ff00;
  border-top-width: 0.9375rem;
  border-right-width: 0.46875rem;
  border-bottom-width: 0.46875rem;
  border-left-width: 0.9375rem;
  border-top-left-radius: 20%; }

.red {
  border: solid black;
  background-color: #ff0000;
  border-top-width: 0.9375rem;
  border-right-width: 0.9375rem;
  border-bottom-width: 0.46875rem;
  border-left-width: 0.46875rem;
  border-top-right-radius: 20%; }

.yellow {
  border: solid black;
  background-color: #eeff00;
  border-top-width: 0.46875rem;
  border-right-width: 0.46875rem;
  border-bottom-width: 0.9375rem;
  border-left-width: 0.9375rem;
  border-bottom-left-radius: 20%; }

.blue {
  border: solid black;
  background-color: #0000ff;
  border-top-width: 0.46875rem;
  border-right-width: 0.9375rem;
  border-bottom-width: 0.9375rem;
  border-left-width: 0.46875rem;
  border-bottom-right-radius: 20%; }

.green-hit {
  background-color: #0e3300; }

.red-hit {
  background-color: #330000; }

.yellow-hit {
  background-color: #303300; }

.blue-hit {
  background-color: #000033; }

/* buttons with special needs*/
.reset {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #ff0000; }

.power-off {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #ff0000; }

.sound {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 9.375rem; }

/*# sourceMappingURL=main.css.map */
