/* all fonts 
font-family: 'Zilla Slab Highlight', cursive;
font-family: 'Ubuntu Mono', monospace; */
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Zilla+Slab+Highlight:400,700");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
.btn {
  background-color: #ff6600;
  font-weight: 700; }
  .btn:hover {
    background-color: #000000;
    color: #eeff00; }

.display {
  width: 22.5rem;
  height: 11.25rem;
  background-color: #000000;
  color: #eeff00;
  font-weight: 700;
  font-size: 6.875rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 20px;
  font-family: 'Press Start 2P', cursive;
  line-height: 12.5rem; }

:root {
  font-size: 16; }

html,
body {
  height: 100%;
  width: 100%;
  margin: 0; }

.wrapper {
  background-image: url("../img/1.jpg");
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 1025px) {
    .wrapper {
      flex-flow: row nowrap; } }
  @media screen and (min-width: 1025px) and (min-height: 900px) {
    .wrapper {
      height: calc(100% - 415px); } }

.trivia {
  background-color: #F4F1DE;
  display: flex;
  flex-flow: column nowrap; }
  .trivia p, .trivia h3 {
    margin: 0px auto; }
  .trivia div {
    margin: 20px; }
  .trivia .info {
    flex: 3; }
  .trivia .hint {
    flex: 1; }
  @media screen and (min-width: 1025px) {
    .trivia {
      flex-flow: row wrap;
      height: 253px; } }

span {
  color: red;
  font-weight: 500; }

.wings-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 15.625rem;
  min-height: 15.625rem;
  width: 31.25rem;
  height: 31.25rem;
  align-content: stretch;
  margin: 1.25rem; }
  @media screen and (max-width: 499px) {
    .wings-wrapper {
      width: 18.75rem;
      height: 18.75rem;
      min-width: 15.625rem;
      min-height: 15.625rem; } }
  @media screen and (min-height: 1100px) {
    .wings-wrapper {
      width: 43.75rem;
      height: 43.75rem;
      min-width: 31.25rem;
      min-height: 31.25rem; } }
  @media screen and (min-height: 1100px) and (max-width: 730px) {
    .wings-wrapper {
      width: 25rem;
      height: 25rem;
      min-width: 18.75rem;
      min-height: 18.75rem; } }

  .wings-wrapper .wing {
    flex-basis: 50%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media screen and (max-width: 1025px) {
      .wings-wrapper .wing {
        font-size: 80px; } }
    @media screen and (min-width: 1026px) {
      .wings-wrapper .wing {
        font-size: 150px; } }

.console {
  align-self: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 1.25rem; }
  .console .display {
    margin-bottom: 0.625rem; }
    @media screen and (max-width: 1025px) {
      .console .display {
        height: 150px;
        line-height: 10.375rem; } }
  .console h2 {
    margin-bottom: 0px; }
  .console .console-primary {
    margin-bottom: 0.25rem; }
  .console .console-secondar {
    margin-bottom: 0.25rem; }
  .console .console-hidden {
    margin-top: 0.25rem;
    display: none; }

nav {
  height: 3.125rem;
  background-color: #19283D; }
  nav .navbar {
    padding: 0px !important; }
  nav h2,
  nav .nav-items {
    color: #F2CC8F !important; }
  nav .nav-items {
    display: flex;
    flex-direction: row; }
    nav .nav-items a {
      color: #F2CC8F; }
      nav .nav-items a:hover {
        color: #E55934; }

.footer-container {
  background-color: #19283D; }

.footer-social div ul {
  margin: 0px; }

.social-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-top: 1rem; }

.footer-social .social-links li a {
  padding: 0 10px; }

.footer-social .social-links li a i {
  width: 40px;
  height: 40px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 1.25rem;
  line-height: 1rem;
  text-align: center;
  color: #fafafa;
  position: relative;
  background-color: #F2CC8F;
  color: #000000;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out; }

.footer-social .social-links li a i:hover {
  background: #ff0000;
  color: #000000; }

.footer-copyright {
  padding-bottom: 1rem;
  color: #F2CC8F; }

footer a {
  color: #E55934; }

.green {
  border: solid black;
  background-color: #48ff00;
  color: #000000;
  border-top-width: 0.9375rem;
  border-right-width: 0.46875rem;
  border-bottom-width: 0.46875rem;
  border-left-width: 0.9375rem;
  font-size: 12.5rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-top-left-radius: 20%; }
  @media (max-height: 800px) {
    .green {
      font-size: 6.25rem; } }

.red {
  border: solid black;
  background-color: #ff0000;
  color: #000000;
  border-top-width: 0.9375rem;
  border-right-width: 0.9375rem;
  border-bottom-width: 0.46875rem;
  border-left-width: 0.46875rem;
  font-size: 12.5rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-top-right-radius: 20%; }
  @media (max-height: 800px) {
    .red {
      font-size: 6.25rem; } }

.yellow {
  border: solid black;
  background-color: #eeff00;
  color: #000000;
  border-top-width: 0.46875rem;
  border-right-width: 0.46875rem;
  border-bottom-width: 0.9375rem;
  border-left-width: 0.9375rem;
  font-size: 12.5rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom-left-radius: 20%; }
  @media (max-height: 800px) {
    .yellow {
      font-size: 6.25rem; } }

.blue {
  border: solid black;
  background-color: #0000ff;
  color: #000000;
  border-top-width: 0.46875rem;
  border-right-width: 0.9375rem;
  border-bottom-width: 0.9375rem;
  border-left-width: 0.46875rem;
  font-size: 12.5rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom-right-radius: 20%; }
  @media (max-height: 800px) {
    .blue {
      font-size: 6.25rem; } }

.green-hit {
  background-color: #0e3300; }

.red-hit {
  background-color: #330000; }

.yellow-hit {
  background-color: #303300; }

.blue-hit {
  background-color: #000033; }

/* buttons with special needs*/
.reset {
  background-color: #ff0000; }

.power-off {
  background-color: #ff0000; }

.sound {
  width: 10rem; }

.on {
  background-color: #ff0000; }

/*# sourceMappingURL=main.css.map */
