$rembase: 16;         // root rem size

// wings
$wingRadius: 20%;     // corner radius of the wings
$size-h1: 4rem;       // header h1 font size
$darkenIntensity: 40;    // darken color by the given percentage e.g 30% darker

// console
$consoleDisplayMargin: 10; 
$consoleItemsMargin: 4; 